button {
    background-color: #fb631b;
}
.add-to-cart-button {
    background-color: #fb631b;

}
.buy-now-button {
    background-color: aqua;
}

.div1 {
background-color: aqua;
}
.div2 {
background-color: tomato;
}